/* Managed Color Schemes for the page*/
:root {
    --darkblue: #123c73;
    --lightblue: #1AA3D9;
    --red:#F20530;
    --navcolor: #b9c6ae;
  }

  .jumbotron {
    border-radius:10px;
     background: url(/assets/urbanlandscape.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: 75% 75%;
     color: white !important;
     height: 340px;
     margin:15px 30px 0px 30px;
     box-shadow: 1px 1px 12px 3px black;
   }
  
  .webportfolio {
    align-items: center;
    display: inline-block;
  }
  

.cardsection {
  margin-top: 10px;
}

.btn-pink {
  color: white;
}

.btn:hover {
  background-color: var(--darkblue);
  color: white;
}

.icon:hover {
  background-color: var(--darkblue);
}

@media only screen and (max-width: 375px){
  nav {
    font-size: 12px;
  }

  .card {
    font-size: 12px;
  }

}